version: "3.9"

services:
  mydb:
    build:
      context: ./mariadb
      dockerfile: Dockerfile
    image: mydb:2
    environment:
      MYSQL_ROOT_PASSWORD: "${WSHP_MARIADB_ROOT_PASSWORD:-rootpass}"
      MYSQL_USER: "${WSHP_MARIADB_USER:-cash100m}"
      MYSQL_PASSWORD: "${WSHP_MARIADB_PASSWORD:-apppass}"
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - app-network

  server:
    build:
      context: ./api-server
      dockerfile: Dockerfile
    image: server:2
    environment:
      DB_HOST: mydb
      DB_USER: "${WSHP_MARIADB_USER:-cash100m}"
      DB_USER_PASSWORD: "${WSHP_MARIADB_PASSWORD:-apppass}"
      # Use this variable with mysql server with no certs, don't use it at all with managed mysql server:
      IS_MYSQL_SSL: "noMysqlSSL"
    depends_on:
      - mydb
    # ports:
    #   - "5000:5000"
    networks:
      - app-network

  web:
    build:
      context: .
      dockerfile: Dockerfile-fe
    image: web:ssr
    depends_on:
      - server
    # ports:
    #   - "8080:8080"
    networks:
      - app-network

  reverse-proxy:
    build:
      context: .
      dockerfile: Dockerfile-reverse-proxy
    image: reverse-proxy:latest
    container_name: nginx-reverse-proxy
    depends_on:
      - mydb
      - web
      - server
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./reverse-proxy.conf:/etc/nginx/nginx.conf:ro
      - ./certs/:/etc/nginx/certs
      - ./nginx-cache/:/var/cache/nginx
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db-data:
