services:
  sqlserver:
    build:
      context: ./sqlserver
      dockerfile: Dockerfile.mssql
    image: sqlserver:2
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "${WSHP_SQLSERVER_ROOT_PASSWORD:-S0f1a^2025_Data!1}"
      APP_DB_NAME: "${WSHP_SQLSERVER_DB_NAME:-sqldb}"
      APP_DB_LOGIN: "${WSHP_SQLSERVER_USER:-cash100m}"
      APP_DB_PASSWORD: "${WSHP_DB_PASSWORD:-S0f1a^2025_Data!1}"
    # ports:
    #   - "1433:1433"
    # volumes:
    #   - mssql-data:/var/opt/mssql
    networks:
      - app-network

  server:
    build:
      context: ./api-server
      dockerfile: Dockerfile.net8
    image: api-server:5
    environment:
      DB_HOST: "sqlserver"
      DB_USER: "${WSHP_SQLSERVER_USER:-cash100m}"
      DB_USER_PASSWORD: "${WSHP_DB_PASSWORD:-S0f1a^2025_Data!1}"
      DB_NAME: "${WSHP_SQLSERVER_DB_NAME:-sqldb}"
      DB_TRUST_SERVER_CERT: "true"
      ASPNETCORE_URLS: "http://+:5000"
    depends_on:
      - sqlserver
    # ports:
    #   - "5000:5000"
    networks:
      - app-network

  web:
    build:
      context: .
      dockerfile: Dockerfile-fe
    image: web:ssr
    depends_on:
      - server
    # ports:
    #   - "8080:8080"
    networks:
      - app-network

  reverse-proxy:
    build:
      context: .
      dockerfile: Dockerfile-reverse-proxy
    image: reverse-proxy:2
    depends_on:
      - sqlserver
      - web
      - server
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./reverse-proxy.conf:/etc/nginx/nginx.conf:ro
      - ./certs/:/etc/nginx/certs
      - ./nginx-cache/:/var/cache/nginx
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

# volumes:
#   mssql-data:
