apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: public-routing
spec:
  ingressClassName: nginx
  rules:
    - host: example.com
      http:
        paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: {{ .Values.webSsr.deploymentAndServiceName }}
                port:
                  number: {{ .Values.webSsr.serviceTargetPortHTTP }}
