name: Build, Push, Deploy

on:
  workflow_dispatch:
    inputs:
      build-the-app:
        description: "Build & upload Docker image"
        required: true
        type: boolean
        default: true
      deploy-to-k8s:
        description: "Deploy to Kubernetes"
        required: true
        type: boolean
        default: true

jobs:
  build-and-upload-to-dockerhub:
    uses: zefirnikolov/custom-github-actions/.github/workflows/reusable-react-docker-build-and-push.yaml@main
    with:
      build-the-app: ${{ inputs.build-the-app }}
      docker-image-name: webshop-fe
      static-docker-image-tag: 2
    secrets:
      docker-username: ${{ secrets.DOCKERHUB_USERNAME }}
      docker-password: ${{ secrets.DOCKERHUB_TOKEN }}

  deploy-to-k8s:
    needs: [build-and-upload-to-dockerhub]
    uses: zefirnikolov/custom-github-actions/.github/workflows/reusable-deploy-helm-chart-to-aks.yaml@main
    with:
      deploy-to-k8s: ${{ inputs.deploy-to-k8s }}
      helm-chart-name: ./tools/k8s-helm-chart/webshop
      helm-deployment-name: webshop
      additional-helm-commands: >-
        --set web.imageRepository=zefirnikolov/webshop-fe
        --set web.dockerTag=2
        --set server.dbHostname="${{ secrets.DB_HOSTNAME }}"
        --set server.dbUser="${{ secrets.DB_USER }}"
        --set server.dbUserPassword="${{ secrets.DB_PASSWORD }}"
        --set server.dbName="${{ secrets.DB_NAME }}"
    secrets:
      azure-credentials: ${{ secrets.AZURE_K8S_CREDENTIALS }}
      aks-cluster-name: ${{ secrets.AZURE_CLUSTER_NAME }}
      resource-group: ${{ secrets.AZURE_RESOURCE_GROUP_NAME }}
      DB_HOSTNAME: ${{ secrets.DB_HOSTNAME }}
      DB_USER: ${{ secrets.DB_USER }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_NAME: ${{ secrets.DB_NAME }}
